<!DOCTYPE html>
<html>

<head>
  <title>温柔以待</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <br>
  <div>
    <form action="index" method="POST">
      <label for="name">昵称</label>
      <input type="text" id="name" name="name" placeholder="昵称.." required>

      <label for="contact">联系方式</label>
      <input type="text" id="contact" name="contact" placeholder="(QQ/微信/邮箱).." required>

      <label for="gender">性别</label>
      <select id="gender" name="gender">
        <option value="man">男</option>
        <option value="woman">女</option>
      </select>

      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>